<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@APTicket</key>
	<true/>
	<key>@BBTicket</key>
	<true/>
	<key>ApBoardID</key>
	<integer>0</integer>
	<key>ApChipID</key>
	<integer>35152</integer>
	<key>ApECID</key>
	<integer>1430661561679</integer>
	<key>ApProductionMode</key>
	<true/>
	<key>ApSecurityDomain</key>
	<integer>1</integer>
	<key>AppleLogo</key>
	<dict>
		<key>Digest</key>
		<data>
		oJgLqEhz1CyhPLVPJ1JumuCKgP0=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryCharging0</key>
	<dict>
		<key>Digest</key>
		<data>
		eL4pZ/OY3nH1T2YP9uSOh0V6YXI=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryCharging1</key>
	<dict>
		<key>Digest</key>
		<data>
		Dq00tQC96gsKfRQuygc7s79wyUM=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryFull</key>
	<dict>
		<key>Digest</key>
		<data>
		keGvGjTJyeahxegL4+SL4OYNTGQ=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryLow0</key>
	<dict>
		<key>Digest</key>
		<data>
		IixaZQRyggfaSkZOkU+9ZnaDe7U=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryLow1</key>
	<dict>
		<key>Digest</key>
		<data>
		XNav0qA2tbpVY3fdRPQO/JZA/r8=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>BatteryPlugin</key>
	<dict>
		<key>Digest</key>
		<data>
		rVOPTmTQQbRqBcgHrAEZtWFcb1Q=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>DeviceTree</key>
	<dict>
		<key>Digest</key>
		<data>
		pjmj7tUCOISUq5B/Se7oZUUWDDc=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>KernelCache</key>
	<dict>
		<key>Digest</key>
		<data>
		TV+STDcdlGPb1GU7qmYuTZhHtCg=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>LLB</key>
	<dict>
		<key>BuildString</key>
		<string>iBoot-1940.10.58~115</string>
		<key>Digest</key>
		<data>
		Pe8+0HQRpZtCUXV1V4jZEDQiYdk=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAHhBAgAa6dLNTtVFM2yc8Kzp1sifGGoK
		Pw==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>RecoveryMode</key>
	<dict>
		<key>Digest</key>
		<data>
		37HpI8xmQ78YCtJT8TxY5g0WRvo=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>RestoreDeviceTree</key>
	<dict>
		<key>Digest</key>
		<data>
		pjmj7tUCOISUq5B/Se7oZUUWDDc=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>RestoreKernelCache</key>
	<dict>
		<key>Digest</key>
		<data>
		TV+STDcdlGPb1GU7qmYuTZhHtCg=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>RestoreLogo</key>
	<dict>
		<key>Digest</key>
		<data>
		oJgLqEhz1CyhPLVPJ1JumuCKgP0=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>RestoreRamDisk</key>
	<dict>
		<key>Digest</key>
		<data>
		/gv4x4GQiFSk7JJiBFwwfBZ3y6E=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>UniqueBuildID</key>
	<data>
	TBMzzpdhnCMBJ5/ynkcA8LvkCVE=
	</data>
	<key>iBEC</key>
	<dict>
		<key>BuildString</key>
		<string>iBoot-1940.10.58~115</string>
		<key>Digest</key>
		<data>
		XSQS1BzjhAwRg20Y/lwVmfJrrBk=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>iBSS</key>
	<dict>
		<key>BuildString</key>
		<string>iBoot-1940.10.58~115</string>
		<key>Digest</key>
		<data>
		azGRLmSMTbH1wjWtoW6K4BPUHQw=
		</data>
		<key>PartialDigest</key>
		<data>
		QAAAAHghAQCXcNnhvYgPxcr/8R6FYJMEaJZx
		Mg==
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
	<key>iBoot</key>
	<dict>
		<key>Digest</key>
		<data>
		ms1ierRp2DjuSAHwoyDrRq8TmGc=
		</data>
		<key>Trusted</key>
		<true/>
	</dict>
</dict>
</plist>